.orange{
	background-color: #fff7ec;
}

.body{
	padding-top: 70px;
}

.boxed{
	width: 1200px;
	margin: auto auto;
	background-color: #fff;
	padding: 15px;
	border-radius: 4px;
}

.navbar-orange {
	background-color: #ffb646;
}

.navbar-orange .navbar-brand {
	color: #fff;
}
.navbar-orange .navbar-brand:hover,
.navbar-orange .navbar-brand:focus {
	background-color: #ffbe5a;
}

.navbar-orange .navbar-nav > li > a {
	color: #333;
}

.navbar-orange .navbar-nav > li > a:hover,
.navbar-orange .navbar-nav > li > a:focus {
	background-color: #ffbe5a;
}