html {
	background-color: #FEAD4F;
}

header {
	height: 250px;
}

body{
	background-color: #FFFFFF;
	width: 1200px;
	margin: auto auto;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 10px;
	padding-bottom: 40px;
	font-family: sans-serif;
}