.help{
	font-size: 8pt;
}

.palette div.col-xs-1{
	width: 105px;
	background: #ffb646;
	color: #000000;
    padding: 5px 5px;
	cursor: pointer;
	margin: 0px auto;
	float: left;
}
.palette div.col-xs-1.active{
	background: #ff9a00;
}

.orange{
	background-color: #fff7ec;
}

.body{
	padding-top: 5px;
}

.boxed{
	width: 1235px;
	margin: auto auto;
	background-color: #fff;
	padding: 15px;
	border-radius: 4px;
}

.navbar-orange {
	background-color: #ffb646;
}

.navbar-orange .navbar-brand {
	color: #fff;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.navbar-orange .navbar-brand:hover,
.navbar-orange .navbar-brand:focus {
	background-color: #ffbe5a;
}

.navbar-orange .navbar-nav > li > a {
	color: #333;
}

.navbar-orange .navbar-nav > li > a:hover,
.navbar-orange .navbar-nav > li > a:focus {
	background-color: #ffbe5a;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#upload, #overlay{
	padding: 5px;
}

#canvas {
	background-repeat: no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover; 
    -o-background-size: cover;
    background-size: cover;  
}

#log { 
	white-space: pre; 
	font-family: monospace; 
}

div.row div{
	text-align: center;
}

div.row div.header{
	text-transform: uppercase;
	font-size: 20pt;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.sublabel{
	color: #444;
}

.hidden{
	display: none;
}

.validation-error{
	background: #fee;
}

.overlay{
	padding-left: 20px;
}

#upload-error{
	font-size: 15pt;
	color: #d00;
}

#designer-submit{
	margin-left: 10px;
}

.gallery-item{
	display: inline-block;
	padding-left: 30px;
	padding-bottom: 10px;
}

.gallery-item a img{
	border: 2px solid #999;
	border-radius: 3px;
}

#paging{
	text-align: center;
	padding-bottom: 40px;
}

#paging .pagebtn{
	font-size: 20px;
	padding: 0px 5px;
}

#paging .pagebtn.active{
	color: #666;
	pointer-events: none
}

img.center{
    display: block;
    margin: 0 auto;
}

.title{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding-bottom: 15px;
	padding-left: 15px;
}

#username-label{
	font-style: italic;
	color: #555;
}

.admin{
	color: #ea8d00;
	cursor: help;
}

.login-help{
	color: #555;
	font-size: 8pt;
}