#canvas {
	background: url(../img/img.png);
	background-repeat: no-repeat;
	background-size: cover;
}

#log { 
	white-space: pre; 
	font-family: monospace; 
}

div.row div{
	text-align: center;
}

div.row div.header{
	text-transform: uppercase;
	font-size: 20pt;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.help{
	font-size: 8pt;
}

.palette div.col-md-1{
	width: 105px;
	background: #ffb646;
	color: #000000;
    padding: 5px 5px;
	cursor: pointer;
	margin: 0px auto;
}
.palette div.col-md-1.active{
	background: #ff9a00;
}
