
html {
	background-color: #FEAD4F;
}

header {
	height: 250px;
}

body{
	background-color: #FFFFFF;
	width: 1000px;
	margin: auto auto;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 10px;
	padding-bottom: 40px;
	font-family: sans-serif;
}

#canvas {
	background: url(../img/img.png);
	background-repeat: no-repeat;
	background-size: cover;
}

#log { 
	white-space: pre; 
	font-family: monospace; 
}
