<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ title is defined ? title : 'ShitpostBot 5000' }}</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/style.css">
</head>

<body class='orange'>

<div class="container-fluid">

<!--navbar-->
<div class="navbar navbar-orange navbar-static-top">
<div class="container">

<div class="navbar-header">
	<a class="navbar-brand" href="index.php">ShitpostBot 5000 (BETA)</a>
</div>

<div>
	<ul class="nav navbar-nav">
		<li><a href="index.php">Home</a></li>
		
		<li><a href="submit.php">Submit</a></li>
			
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Gallery
			<span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="src-gallery.php">Source Image</a></li>
				<li><a href="t6e-gallery.php">Template</a></li>
			</ul>
		</li>
    
    {% if db.isLoggedIn %}
      <li><a href="profile.php?u={{ db.userId }}">Profile</a></li>
      <li><a style='cursor: pointer' id='logout'>Logout</a></li>
      {% if me.admin is not null %}
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
        {% if me.admin.canReview %}
          <li><a href="template-review.php">Review Templates</a></li>
          <li><a href="source-review.php">Review Source Images</a></li>
        {% endif %}
        {% if me.admin.canMakeAdmin %}
          <li><a href="admin-recruiting.php">Manage Admins</a></li>
        {% endif %}
        </ul>
        </li>
      {% endif %}
      <li><a id='username-label'>Logged in as {{ me.username|e }}</a></li>
    {% else %}
      <li><a href="login.php">Login</a></li>
      <li><a href="signup.php">Sign Up</a></li>
    {% endif %}

    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Social media
      <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="https://www.facebook.com/shitpostbot/" target="_blank">Facebook</a></li>
        <li><a href="https://www.twitter.com/ShitpostBot5000/" target="_blank">Twitter</a></li>
        <li><a href="https://www.instagram.com/shitpostbot5000/" target="_blank">Instagram</a></li>
      </ul>
    </li>
	</ul>
</div>
</div>
</div>

<!--start of body -->
<div class="body">
<div class="boxed">

{% if title is defined  %}
  <h1 class='title'>{{ title }}</h1>
{% endif %}

{% block content %}{% endblock %}

</div>
</div>
</div>
</body>

<script type="text/javascript" src="js/scripts.js"></script>
{% block scripts %}{% endblock %}
</html>