{% extends "base.html" %}

{% block content %}

{% for item in items %}
<div class='gallery-item'>
  <a href='{{ item.link }}'><img src='resize.php?i={{ item.img|url_encode }}&w=150&h=150'/></a><br>
  <span class='pull-right rating'>{{ item.rating }}</span>
</div>
{% else %}
<h2>No items found.</h2>
{% endfor %}
<br>

<div id='paging'>
{% if currentPage != 1 %}
<a class='pagebtn' href='?p={{ currentPage - 1 }}'>&lt;</a>
{% endif %}
{% for i in 1..pageCount %}
<a class='pagebtn{{ i == currentPage ? " active" }}' href='?p={{ i }}'>{{ i }}</a>
{% endfor %}
{% if currentPage != pageCount %}
<a class='pagebtn' href='?p={{ currentPage + 1 }}'>&gt;</a>
{% endif %}
</div>
{% endblock %}