{% extends "base.html" %}

{% block content %}

<p>
  Sort By
  <select id='gallery-ordering'>
    <option value="rating" {{ orderBy == 'rating' ? 'selected' }}>Rating</option>
    <option value="submitter" {{ orderBy == 'submitter' ? 'selected' }}>Submitter Name</option>
    <option value="time-up" {{ orderBy == 'time-up' ? 'selected' }}>Time Uploaded</option>
    <option value="time-acc" {{ orderBy == 'time-acc' ? 'selected' }}>Time Accepted</option>
  </select>
  <select id='gallery-dir'>
    <option value="desc" {{ dir == 'desc' ? 'selected' }}>Descending</option>
    <option value="asc" {{ dir == 'asc' ? 'selected' }}>Ascending</option>
  </select>
  <button id='sort'>Sort</button>
</p>

{% for item in items %}
<div class='gallery-item'>

  <a href='{{ item.link }}'><img src='resize.php?i={{ item.img|url_encode }}&w=160&h=160'/></a><br>
  
  <span class='submitter'>
    <a href='profile.php?u={{ item.submitter.userId }}'>{{ item.submitter.username }}</a>
  </span>
  <br>
  <div class='pull-right rating'>
    <a class="rate up {{ item.userRating == 'p' and isLoggedIn ? 'selected' }}" type='{{ type }}' rating='y' code='{{ item.id }}'>&uArr;</a>
      <span class='num'>{{ item.rating }}</span>
    <a class="rate down {{ item.userRating == 'n' and isLoggedIn  ? 'selected' }}" type='{{ type }}' rating='n' code='{{ item.id }}'>&dArr;</a>
  </div>
  
</div>
{% else %}
<h2>No items found.</h2>
{% endfor %}
<br>

<div id='paging'>
{% if currentPage != 1 %}
<a class='pagebtn' href='?orderBy={{orderBy}}&dir={{dir}}&p={{ currentPage - 1 }}'>&lt;</a>
{% endif %}
{% for i in 1..pageCount %}
<a class='pagebtn{{ i == currentPage ? " active" }}' href='?orderBy={{orderBy}}&dir={{dir}}&p={{ i }}'>{{ i }}</a>
{% endfor %}
{% if currentPage != pageCount %}
<a class='pagebtn' href='?orderBy={{orderBy}}&dir={{dir}}&p={{ currentPage + 1 }}'>&gt;</a>
{% endif %}
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="js/rating.js"></script>
<script type="text/javascript" src="js/gallery.js"></script>
{% endblock %}