{% extends "base.html" %}

{% block content %}

ShitpostBot 5000 is a facebook page where a picture is posted every half an hour by a bot. It randomly selects a user-submitted template, then fills it in with user-submitted source images.<br>
This website is where you can submit your own source images and templates. Not every submission is automatically selected. A human will go through and look at each picture, and make sure it's all safe.

<h2>Rules</h2>
	
<ol>
  <li>Make sure the template itself is not a meme. Plain background where any pictures used to be.</li>
  <li>The template/image must be allowed on Facebook. <b>All of the templates/images will be reviewed by me, so nothing will get past</b>, dont bother uploading something purely to attempt to get SPB taken down.</li>
  <li>Make sure the template/image is under 2MB, it'll reject it if it breaks this limit.</li>
  <li>Make sure the template/image has both the width and height under 1000. It'll reject it if it breaks this limit.</li>
  <li>I'd prefer not to have to develop a ban list, so please, no spamming the same template/image over and over.</li>
</ol>
<br>
  
<h2>Template Tips</h2>
	
<ol>
  <li>Think about whether or not it would be a different/unique joke if a random picture was put there instead of another random picture. This means you should avoid things that just say "this random meme is funny", or something similar. It wont be a bad template, but it definitely will wear out pretty quickly.</li>
  <li>Make sure the background is nice and blank. Not necessarily white/black, but blank. This way, no matter the size of the photo, it'll look nice.</li>
  <li>Make sure the template is generic as possible. I prefer the ones that follow the "This is my reaction when"-type format. Multi-panel comics are good for this too, such as "this isn't beautiful", and "he will never get a girlfriend". Any picture could go there and be kinda funny, and potentially really funny.</li>
</ol>
<br>
  
<h2>Source Image Tips</h2>
	
<ol>
  <li>Please don't upload pictures of friends/family/you. Facebook often doesn't like it if it gets reported, and I might turn down a lot of them.</li>
  <li>The picture itself shouldn't have any captions/jokes. It should be simply a strange context-free image that makes no sense. This won't always be enforced, but it definitely makes for better pictures if they have no context. As much as I hate to say it, the people who post those awful reaction pictures have the right idea. By themselves, those pictures make no sense. They need context, and shitpostbot will provide that context. You can also think along the lines of some of what's posted on Orange Memes III</li>
</ol>

{% endblock %}