{% extends "base.html" %}

{% block content %}

<form id='login-signup' action='{{ actionpage }}' method='post' enctype="multipart/form-data">
  Username<br>
  <input class='login-field' type='text' name='spb-user' id='spb-user'/><div class='login-help'>5 to 15 characters, any combination of A-Z, a-z, 0-9, ., -, or _</div><br><br>
  
  Password<br>
  <input class='login-field' type='password' name='spb-pass' id='spb-pass'/><div class='login-help'>7 to 30 characters, any combination of A-Z, a-z, 0-9, ., -, or _</div><br><br>
  
  <input type='submit' value='Submit'/>
</form>

{% endblock %}

{% block scripts %}
<script src="js/login-signup.js"></script>
{% endblock %}