{% extends "base.html" %}

{% block content %}

{% if userExists %}
  <h1 class="{{ user.isAdmin ? 'admin' }} title" {{ user.isAdmin ? 'title="This user is an admin"' }}>
    {% if isLoggedIn and me.userId == user.userId %}
      Your profile
    {% else %}
      {{ user.username|e }}'s Profile
    {% endif %}
  </h1>
  <h2>Templates</h2>
  {% for t in user.ownTemplates %}
    <div class='gallery-item'>
      <a href='view-t6e.php?t={{ t.templateId }}'><img src='resize.php?i={{ t.image|url_encode }}&w=150&h=150'/></a><br>
      <span class='pull-right rating'>{{t.rating}}</span>
    </div>
  {% else %}
    No templates found.
  {% endfor %}
  
  <h2>Source Images</h2>
  {% for s in user.ownSourceImages %}
    <div class='gallery-item'>
      <a href='view-srcimg.php?i={{ s.sourceId }}'><img src='resize.php?i={{ s.image|url_encode }}&w=150&h=150'/></a><br>
      <span class='pull-right rating'>{{s.rating}}</span>
    </div>
  {% else %}
    No source images found.
  {% endfor %}
{% else %}
  <h2>No user found with that ID</h2>
{% endif %}

{% endblock %}