{% extends "base.html" %}

{% block content %}

{% if isValidItem %}
  Posted by <a href='profile.php?u={{ t.userId }}'>{{ t.submitterName }}</a><br>
  Accepted by <a href='profile.php?u={{ t.reviewedBy }}'>{{ t.reviewerName }}</a><br>
  {% if isLoggedIn and me.admin is not null and me.admin.canReview %}
    <button class='review' id='deny' code='{{t.templateId}}' type='t' state='d' return='t6e-gallery.php'>Deny</button>
    <button class='review' id='deny' code='{{ s.sourceId }}' type='s' state='p' return='src-gallery.php'>Make Pending</button>
  {% endif %}
  <div class="row">
    <div class="col-md-6 header">Template</div>
    <div class="col-md-6 header">Example Usage</div>
  </div>
  <img src='resize.php?i={{ t.image|url_encode }}&w=600'>
  <img src='generate.php?t={{ t.templateId }}&w=600'><br><br>
  {% if t.overlayFiletype is not null %}
  <div class="row">
    <div class="col-md-12 header">Overlay</div>
  </div>
  <img class='center' src='resize.php?i={{ t.overlayImage|url_encode }}&w=600'>
  {% endif %}
{% else %}
  <h2>Template not found.</h2>
{% endif %}

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="js/review.js"></script>
{% endblock %}