{% extends "base.html" %}

{% block content %}

{% if isValidItem %}
  Posted by <a href='profile.php?u={{ s.userId }}'>{{ s.submitterName }}</a><br>
  Accepted by <a href='profile.php?u={{ s.reviewedBy }}'>{{ s.reviewerName }}</a><br>
  {% if isLoggedIn and me.admin is not null and me.admin.canReview %}
    <button class='review' id='deny' code='{{ s.sourceId }}' type='s' state='d' return='src-gallery.php'>Deny</button>
    <button class='review' id='deny' code='{{ s.sourceId }}' type='s' state='p' return='src-gallery.php'>Make Pending</button>
  {% endif %}
  <img class='center' src='resize.php?i={{ s.image|url_encode }}&w=600'>
{% else %}
<h2>Image not found.</h2>
{% endif %}

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="js/review.js"></script>
{% endblock %}