{% extends "base.html" %}

{% block content %}

{% if isValidItem %}
  <div class="row">
    <div class="col-md-6 header">Template</div>
    <div class="col-md-6 header">Example Usage</div>
  </div>
  <img src='resize.php?i={{ t.image|url_encode }}&w=600'>
  <img src='generate.php?t={{ t.templateId }}&w=600'><br><br>
  {% if t.overlayFiletype is not null %}
  <div class="row">
    <div class="col-md-12 header">Overlay</div>
  </div>
  <img class='center' src='resize.php?i={{ t.overlayImage|url_encode }}&w=600'>
  {% endif %}
{% else %}
  <h2>Template not found.</h2>
{% endif %}

{% endblock %}